<h1 class="text-center">Categorias Cursos</h1>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-end " data-bs-toggle="modal" data-bs-target="#exampleModal"  ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/></svg>  Adicionar Categoria</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 800px; margin-left: -100px;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Adicionar Curso</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form  novalidate autocomplete="off" class="row g-3 form-curso" #form="ngForm" (submit)="onSubmitt(form)">

          <input type="hidden" name="categoriaID" [value]="categoria.formData.categoriaID" />
          <div class="col-md-4">
            <label for="validationDefault01" class="form-label">Nome*</label>
            <input type="text" #nome="ngModel"  name="descricaoCurso" class="form-control" id="validationDefault01" [(ngModel)]="categoria.formData.nome" required>
          </div>


          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-success" [disabled]="form.invalid">Cadastrar</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Nome</th>
      <th></th>
    </tr>
  </thead>
    <tbody *ngFor="let cate of categoria.list">
        <tr>
          <td (click)="populateForm(cate)">{{cate.nome}}</td>
          <td class="buttons">
            <button class="btn btn-warning"  data-bs-toggle="modal"  data-bs-target="#exampleModal" (click)="populateForm(cate)"><i class="fas fa-edit"></i> Editar</button>
            <button class="btn btn-danger" (click)="onDelete(cate.categoriaID)"><i class="fas fa-trash-alt"></i> Deletar</button>
          </td>
        </tr>
    </tbody>
  <tfoot >
    <tr *ngIf="categoria.list == null">
      <td colspan="8">
        <h4>Nenhuma categoria disponível</h4>
      </td>
    </tr>
  </tfoot>
</table>
